<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/output/css/index.css">
    <link rel="stylesheet" href="/public/css/style.css">

</head>

<body>
<div id="root"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/output/js/vendor.js"></script>
<script src="/output/js/index.js"></script>
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
<!--<script src='//kefu.easemob.com/webim/easemob.js?configId=56468f34-33f8-4678-bffd-5bf6d6a7265d'></script>-->
</body>
</html>
