<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link href="/public/img/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/output/css/login.css">
    <link rel="stylesheet" href="/public/css/sign.css">
</head>

<body>

    <div id="large-body"  style="height: 100%;">
        <div id="login"></div>
        <canvas id="back-canvas"></canvas>
    </div>
<script src="/output/js/vendor.js"></script>
<script src="/output/js/login.js"></script>
<script src="/public/back_bo.js"></script>
</body>
</html>
