<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/public/img/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
<div id="root"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/myCanvas.js"></script>
</body>
</html>
