body,#login{
    height: 100%;
}
.chat-sign{
    min-height: 100%;
    border-top: solid 0.1px #fff;
    background-color: #111;
    background-image: url(/public/img/bgh.jpg);
    background-size: 1920px 1030px;
}
#back-canvas{
    position: absolute;
    top:0;
}
.chat-sign-form{
    position: absolute;
    z-index: 10;
    top: 260px;
    width: 100%;
}
.sign-form{

    border-radius: 20px;
    margin: auto;
    width: 500px;
    /*box-shadow: #888484 0 0 20px;*/
    overflow: hidden;
}
.sign-form input{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin: 8px 0;
    border: 1px #fff solid;
    padding: 0 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.sign-form .submit{
    border-radius: 4px;
    width: 100%;
    color: #fff;
    background-color: #108ee9;
    text-align: center;
    margin: 10px auto;
    height: 36px;
    line-height:  36px;
}
.sign-form .submit:hover{
    background-color: #48a1e9;
}
.sign-form .sign-header{
    height: 63px;
    text-align: center;
    padding: 12px 0;
    font-size: 26px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
    color: #fff;
}
.sign-form .sign-con{
    margin: auto;
    padding-top: 2px;
    width: 280px;
}
.sign-form .sign-body{
    -webkit-transition: margin-top 0.6s ease-in-out;
    -moz-transition: margin-top 0.6s ease-in-out;
    -ms-transition: margin-top 0.6s ease-in-out;
    -o-transition: margin-top 0.6s ease-in-out;
    transition: margin-top 0.6s ease-in-out;
}
.sign-form .to-register{
    color: #fff;
    margin-top: 0;
}
.sign-form .to-register:hover{
    color: #83eae2;
}
.sign-form .sign-header-row{
    height: 40px;
    width: 1000px;
    -webkit-transition: margin-left 0.6s ease-in-out;
    -moz-transition: margin-left 0.6s ease-in-out;
    -ms-transition: margin-left 0.6s ease-in-out;
    -o-transition: margin-left 0.6s ease-in-out;
    transition: margin-left 0.6s ease-in-out;
}
.sign-form .sign-header-name{
    float: left;
    width: 500px;
}
.sign-form  .sign-left {
    position: absolute;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 22px;
}
.sign-form  .sign-left a{
    color:#fff;
}
.sign-form  .sign-left a:hover{
    color:#3aa3ef;
}
/*.sign-form  .sign-left:hover {*/
    /*color: #3aa3ef;*/
/*}*/
.sign-form  .sign-right {
    position: absolute;
    margin-left: 460px;
    margin-top: -18px;
    font-size: 15px;
}
.sign-form  .sign-right a{
    color:#fff;
}
.sign-form  .sign-right a:hover{
    color:#3aa3ef;
}
.back_img_grey{
    position: relative;
    width: 950px;
    top: -50px;
    left: -300px;
}

.sign-botton{
    margin: 32px;
    height: 37px;
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    padding: 6px;
    font-family: 'KaiTi';
    font-weight: 600;
    color:#1f1919;
}
.sign-botton:hover{
    color: #1389e6;
}