body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-size: 1920px 1030px;
}

a {
    color: #00B7FF;
}
.chat-index{
    width: 100%;
    height: 100%;
    border-top: solid 0.1px #fff;
}
.chat-border{
    width: 1000px;
    height: 780px;
    margin: 5% auto;
}
.chat-window{
    width: 1000px;
    height: 780px;
    position: absolute;
    border:solid 1px #eee;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 16px 25px -2px rgba(0, 0, 0, 0.14), 0 6px 25px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 25px -2px rgba(0, 0, 0, 0.14), 0 6px 25px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}
/*chat-head*/
.chat-head{
    background-color: #e8e8e8;
    height: 80px;
}
.chat-head .useravatar{
    /*border: solid 2px #fff;*/
}
.chat-head .useravatar:hover{
    border: solid 2px #fff;
}
/*个人信息*/
.userinf{
    position: absolute;
    z-index: 5;
    min-height: 336px;
    width: 280px;
    padding-bottom: 30px;
    background: #fff;
    top: 30%;
    left: 45%;
    border-radius: 5px;
    transition:opacity 0.5s ease-in-out,transform 0.5s ease,visibility 0.5s ease;
    -moz-transition:opacity 0.5s ease-in-out,transform 0.5s ease,visibility 0.5s ease; /* Firefox 4 */
    -webkit-transition:opacity 0.5s ease-in-out,transform 0.5s ease,visibility 0.5s ease; /* Safari and Chrome */
    -o-transition:opacity 0.5s ease-in-out,transform 0.5s ease,visibility 0.5s ease; /* Opera */

    -webkit-box-shadow: 0 16px 25px -2px rgba(0, 0, 0, 0.14), 0 6px 25px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 25px -2px rgba(0, 0, 0, 0.14), 0 6px 25px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}

.backmark{
    position: fixed;
    opacity: 0.2;
    z-index: 2;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #111;*/
}
.userinf .userheader{
    margin: -40px auto auto;
    display: block;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    border: solid white 3px;
}
.userinf .username{
    text-align: center;
    margin-top: 8px;
    padding: 3px;
    font-size: 20px;
    /* font-weight: 600; */
    font-family: inherit;
    height: 30px;
    background-color: #a9a5a5;
    color: #fff;
}
.userinf .userinfli{
    margin: 16px 0;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    color: #3c3c3c;
}
.userinf .userinfli input{
    height: 25px;
}
.userinf .userpro{
    color: #9e9e9e;
}


/*chat-body*/
.chat-body{
    height: 700px;
}
.message-groups{
    width: 25%;
    height: 100%;
    float:left;
    border-right: solid 1px #eee;
    overflow-y: scroll;
}
/*滚动条*/
.message-groups::-webkit-scrollbar  {
    width:6px;
    height:12px;
}

.message-groups::-webkit-scrollbar-track{
    /*background: #eee;*/
    border-radius: 20px;

}
.message-groups::-webkit-scrollbar-track-piece {
    /*background: #eee;*/
    border-radius: 20px;
}
.message-groups::-webkit-scrollbar-track-piece:hover {
    background: #eee;
}
.message-groups::-webkit-scrollbar-thumb {
    background:#cac8c8;
    border-radius:50px;
}
.message-groups::-webkit-scrollbar-corner{
    /*background:#fff;*/
}

/*组列表*/
.messageGroup{
    height: 64px;
    margin: 0px 0;
    padding: 12px 0 12px 6px;
}
.messageGroup:hover{
    background-color: #eee;
}

.messageGroup .group-name{
    overflow: hidden;
    font-size: 16px;
    height: 21px;
    color: #000;
    white-space:nowrap;/*不显示的地方用省略号...代替*/
    text-overflow:ellipsis;/* 支持 IE */
    width: 130px;
}
.messageGroup .group-cont{
    overflow: hidden;
    height: 18px;
    font-size: 12px;
    color: gray;
    white-space:nowrap;/*不显示的地方用省略号...代替*/
    text-overflow:ellipsis;/* 支持 IE */
}
.messageGroup .grouptag{
    position: absolute;
    color: #818181;
    right: 2px;
    top: 0px;
}

.group-add{
    position: absolute;
    bottom: 9px;
    left: 202px;
    font-size: 32px;
    color: #9c9d9e;
}

.group-add:hover{
    color: #5aa6f1;
}
.group-ac {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;padding: 0 5px;
    color: #808080;
    display: block;
}
.group-ac:hover{
    color: #808080;
    background-color: #eee;
}
.group-add-div{
    position: absolute;
    height: 150px;
    width: 369px;
    top: 40%;
    left: 43%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    z-index: 6;
    -webkit-box-shadow: 0 16px 25px -2px rgba(0, 0, 0, 0.14), 0 6px 25px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 25px -2px rgba(0, 0, 0, 0.14), 0 6px 25px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -2px rgba(0, 0, 0, 0.2);
}
.group-add-div .group-header{
    text-align: center;
    height: 38px;
    background-color: #EEE;
    margin-top: 0;
    padding: 8px;
    color: #2696e6;
}
.group-icon-close{
    float: right;
    color: #333;
    font-size: 16px;
}
.group-icon-close:hover{
    background-color: #e26161;
    color: #fff;
}
.group-add-div .group-search{
    margin: 35px auto;
    width: 300px;
}
.group-add-div .group-search input{
    border-radius: 20px;
}

/**/
.message-body{
    height: 100%;
    width: 75%;
    float: right;
}
/*canvas*/

.message-body .message-blank{
    margin: 20% 0;
    background-color: #f9f9f9;
    height: 50%;
    padding: 15px;
}
#myCanvas{
    margin: auto;
    display: block;
}
/*消息列表框*/
.message-list-border{
    overflow:hidden;
    height: 660px;
    width: 100%;
}
.message-border-header{
    height: 38px;
    border: solid 1px #eee;
    border-radius: 10px;
}
.message-border-header .groupName{
    font-family: Microsoft YaHei;
    font-size: 18px;
    margin: 8px;
    display: inline-block;
    color: #051f33;
}
.message-border-header .Icon-right{
    font-size: 33px;
    margin: 2px;
    float: right;
}
.message-border-header .Icon-right:hover{
    color: #00b7ff;
}
.message-border-header .textright{
    font-size: 20px;
    margin: 5px;
    float: right;
    color: #515356;
}
.message-border-header .groupIntro{
    position: absolute;
    padding: 8px;
    border-radius: 10px;
    z-index: 5;
    width: 300px;
    height: 688px;
    margin-top: -36px;
    right: -300px;
    background-color: #fff;
    -webkit-transition: right 0.5s ease-in-out;
    -moz-transition: right 0.5s ease-in-out;
    -ms-transition: right 0.5s ease-in-out;
    -o-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    -webkit-box-shadow: 0 16px 25px -2px rgba(0, 0, 0, 0.14), 0 6px 25px 5px rgba(0, 0, 0, 0.12), 0 0 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 25px -2px rgba(0, 0, 0, 0.14), 0 6px 25px 5px rgba(0, 0, 0, 0.12), 0 0 10px -2px rgba(0, 0, 0, 0.2);
}
.message-border-header .groupIntro .ant-tabs-nav-scroll{
    text-align: center;
}
.message-border-header .groupmember{
    margin: 3px;
    display: inline-block;
    text-align: center;
    width: 85px;
    height: 60px;
    overflow: hidden;
}
.message-border-header .membername{
    overflow: hidden;
    white-space:nowrap;/*不显示的地方用省略号...代替*/
    text-overflow:ellipsis;/* 支持 IE */
}
.message-border-header .groupquit{
    position: absolute;
    bottom: 0;
    left: 103px;
}
.message-list{
    padding: 0 10px;
    width: 100%;
    height:618px;
    overflow-y: scroll;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*滚动条*/
.message-list::-webkit-scrollbar  {
    width:8px;
    height:12px;
}

.message-list::-webkit-scrollbar-track{
    /*background: #eee;*/
    border-radius: 20px;

}
.message-list::-webkit-scrollbar-track-piece {
    /*background: #eee;*/
    border-radius: 20px;
}
.message-list::-webkit-scrollbar-track-piece:hover {
    background: #eee;
}
.message-list::-webkit-scrollbar-thumb {
    background:#cac8c8;
    border-radius:50px;
}
.message-list::-webkit-scrollbar-corner{
    background:#fff;
}
/*.message-list::-webkit-scrollbar-resizer {*/
/*background:#fff;*/
/*}*/

/*消息框*/
.message-li{
    margin:12px 0;
}
.message-me{
    border: solid 1px #fff;
    padding: 3px 12px;
    border-radius: 20px;
    background-color: #108ee9;
    float: right;
    color: #fff;
}
.message-other{
    border: solid 1px #eee;
    padding: 3px 12px;
    border-radius: 20px;
    background-color: #eee;
    display: inline-block;
    color: #000;
}
.avatar-me{

}


/*消息输入*/
.message-in{
    border-top: solid 1px #eee;
}
.inputText{
    padding: 5px;
}
/*Icons*/
.icons{
    font-size: 22px;
    color: #a9a0a0;
}
.icons:hover{
    color: #00b7ff;
}

/*emoji*/
.emojisel img:hover{
    background-color: #eee;
}
.emojili{
    height: 35px;
    /*width: 30px;*/
    margin: 0 2px -6px;
}

